@use '@/styles/scss/abstracts/' as *;

.userBox {
  margin: 1rem 0;
  text-align: center;

  img {
    max-width: 200px;
    border: 2px $complementaryColor solid;
    border-radius: 50%;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: 4px $brandColor solid;
    }
  }
}