@use '../abstracts/' as *;

#hero-section {
  margin: 1rem auto;
  padding: 2rem 10rem;

  h1 {
    font-weight: bolder;
    font-size: 4em;
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0 4rem 0;
    font-weight: 300;
    font-size: 1.1em;
  }
}