@use '@/styles/scss/abstracts/' as *;

.footer {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;

  span {
    font-weight: 500;
  }
}

.light {
  @include setBackground($brandColor);
}

.dark {
  @include setBackground($complementarySkewColor);
}
