@use '@/styles/scss/abstracts/' as *;

.light {
  @include setBackground($brandColor);

  .navLink {  
    color: $primaryColor;
    font-weight: 500;

    &:hover {  
      color: $complementarySkewColor;
    }
  }
}

.dark {
  @include setBackground($complementarySkewColor);

  .navLink {  
    color: $primaryColor;
    font-weight: 500;

    &:hover {  
      color: $brandColor;
    }
  }
}