@use '@/styles/scss/abstracts/' as *;

.banner {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }
}

.light {
  color: $complementaryColor;
  background: $primaryColor;
}

.dark {
  color: $primaryColor;
  background: $complementarySkewColor;
}
