@use '../abstracts/' as *;

body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont; 
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWindow {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}

.light {
  background-color: $primaryColor;
  color: $complementaryColor;
}

.dark {
  background-color: $complementaryColor;
  color: $primaryColor;
}